


<% if(hoa.length !=0){%>
    
  <%  hoa.forEach(function(data){%>
        <div class="card" style="width: 15rem;">
            <a href='/hoa/chitiet/<%= data.mahoa%>'>
                <img width="200px" src="<%= data.fileLinks[0]%>" class="card-img-top" alt="<%= data.tenhoa%>">
         </a>
          
            <div class="card-body">
            <h5 class="card-title"><%= data.tenhoa%></h5>
            <p class="card-text"><%= data.giaban%></p>
            <!-- <a href="/shoppingcart/addtocart/?muahoa=<%= data.mahoa%>&tenhoa=<%= data.tenhoa%>&dongia=<%= data.giaban%>&maloai=<%= data.maloai%>&tenloai=<%= data.maloai%>&hinh=<%= data.hinh%>" class="btn btn-primary">Add To Cart</a> -->
            <a href="/shoppingcart/addtocart/<%= data.id%>" class="btn btn-primary">Add To Cart</a>
            <%if(user.role == 1){%>
            <button class='btn btn-danger'>edit</button>
            <%}%>
        </div>
        </div>


<%})} else{%>
   <tr>
       <td colspan="7">No data Found</td>
   </tr>
   <%}%>
  